//------- start variables -------//
$Arrowtown:#998675;
$ContessaColor:#bc6372 ;
$MineShaft:#373737 ;
$GrayColor:#8F8F8F ;
$GalleryColor:#ebebeb;
$AltoColor:#d9d9d9;
$AltoColor:#d9d9d9;
//------- end variables -------//

body{
font-family: 'Lato', 'Arial', sans-serif;
}
