.btn{
    display: inline-block  !important;
    padding: 10px 30px ;
    text-decoration: none !important;
    border-radius: unset !important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s !important;
    transition: background-color 0.2s, border 0.2s, color 0.2s !important;
    box-shadow: 0 2px 2px 0px #8a8585;

}
.btn-sm{
    padding: 7px 16px !important;

}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 4px 9px 0px #8a8585 !important;
}
.btn-full{
    background-color: $Arrowtown;
    border: 1px solid $Arrowtown;
    color: #fff;
    margin-right: 15px;
}
.btn-fushia{
    background-color: $ContessaColor;
    border: 1px solid $ContessaColor;
    color: #fff;
    margin-right: 15px;
    &:hover{
        background-color:#9c5964 !important;
        border: 1px solid #9c5964 !important;
        color: white;
        box-shadow: 0 4px 9px 0px #8a8585;

    }
}

.btn-ghost{
    border: 1px solid $GalleryColor;
    color: $GalleryColor;
}
.btn-ghost:hover, .btn-ghost:active {
    border: 1px solid $ArrowtownDark;
    color: #fff;
    box-shadow: 0 4px 9px 0px #8a8585;

}

.btn-full:hover, .btn-full:active {
    border: 1px solid $ArrowtownDark;
    box-shadow: 0 4px 9px 0px #8a8585;

}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active {
    background-color: $ArrowtownDark;
    color: white;
    box-shadow: 0 4px 9px 0px #8a8585;

}

