@media  (max-width: 1200px) {
  
    nav.navbar {
        padding: 0;
     }
}


@media only screen and (max-width: 1023px) {
   
    .logo{
        width: 120px !important;
        height: 45px;
    }
     .main-nav{
        display: block;
    }
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    .main-nav {
        float: left;
        margin-top: 0px;
    }
    
    .main-nav li {
        display: block;
        margin-left: 0.3rem;

    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    // .sticky .mobile-nav-icon { margin-top: 20px; }
    .sticky .mobile-nav-icon i { color: white; }
    
    
    body { font-size: 14px; }

    .home__hero-img{
        width: 10rem;
    }
}
@media only screen and (max-width: 992px) {
    .hero .col-md-3{
        display: none;

    }

}

@media screen and (min-width: 480px) and (max-width: 767px)  {
    .home{
        height: 100% !important;
    }
    .hero{
        padding: 4rem 0;
    }
    .btn-fushia{
        margin-top: 13px !important;

    }
    .section {
        padding: 30px 0 !important;
    }
    .section-feature [class*=col-md-3] {
        border: unset !important;
        padding-bottom: 1rem !important;
        padding-top: 0rem !important;
    }
    .section-ourteam {
        padding-bottom: 0rem !important;
    }
    .section-support-card {
        padding: 9px !important;
    }
    .section-support{
        padding: 0 !important;

    }
    .heading-primary{
        margin-bottom: 9px;
    }
    .btn-full{
        margin-right: 0;
    }
    .owl-theme .owl-nav{
        width: unset;
        position: unset;

    }
    .section-si-big {
        width: 4rem !important;
        height: 4rem !important;
        font-size: 1.3rem !important;
        line-height: 4rem !important;

    }
 
    .section-si-big{
        line-height: 4rem !important;
    }
    .section-about{
        padding-bottom: 1rem;

    }
}

//smartphone landscape
@media screen and (max-width: 480px) {
    .home{
        height: 100% !important;
    }
    .hero{
        padding: 4rem 0;
    }
    .section-ourteam {
         padding-bottom: 0!important; 
    }
    .btn-fushia{
        margin-top: 13px !important;

    }
    .footer-dark{
        padding: 1rem !important;

    }
    .btn-full{
        margin-right: 0;
    }
    .heading-primary{
        margin-bottom: 9px;
    }
    .owl-theme .owl-nav{
        width: unset;
        position: unset;

    }
    .section-support{
        padding: 0 !important;

    }
    .section-support-card {
        padding: 9px !important;
    }
    .section-si-big {
        width: 4rem !important;
        height: 4rem !important;
        font-size: 1.3rem !important;
        line-height: 4rem !important;

    }
    .section-feature [class*=col-md-3] {
        border: unset !important;
        padding-bottom: 1rem !important;
        padding-top: 0rem !important;
    }
    .section-si-big{
        line-height: 4rem !important;
    }
    .section-feature {
        padding-bottom: 20px !important;
    }
    .section {
        padding: 20px 0 !important;
    }
    .section-about{
        padding-bottom: 1rem;

    }
}//end media query