@media  (max-width: 1200px) {
  
    nav.navbar {
        padding: 0;
     }
}


@media only screen and (max-width: 1024px) {
    #hero-section.owl-carousel .owl-dots{
        bottom: 3rem !important;

    }
    .section-support-card {
        padding: 3rem 4rem !important;
    }
   
    .logo{
        width: 120px !important;
        height: 45px;
    }
     .main-nav{
        float: left;
        margin-top: 3rem !important;
        right: 9rem;
        display: none;
        position: relative;
    }
    // .main-nav{display: none;}
    .mobile-nav-icon {display: inline-block;}
 
    .main-nav li {
        display: block;
        margin-left: 0.3rem;

    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    .nav-item.btn-full{
        margin-left: -4px !important;
    }
    

    
    
    body { font-size: 14px; }

    .home__hero-img{
        width: 10rem;
    }
}
@media only screen and (max-width: 992px) {
    .section-support-box{
        padding-top: 2rem;
    margin-bottom: 2rem;
    }
    
    .hero .col-md-3{
        display: none;

    }
    .btn-full{
        margin-right: 0 !important;
    }
    .section-support-card{
        padding: 3rem 3rem !important;
    }
    .section-ourteam{
        padding-bottom: 6rem !important;
  
    }
    .section {
        padding: 40px 0 !important;
    }
    .section-feature {
        padding-bottom: 40px !important;
    }
    #hero-section.owl-carousel .owl-dots {
      
        bottom: 2rem !important;
        left: 1rem;

    }
    .heading-primary {
    
        margin-bottom: 3rem !important;
    }

}

@media screen and (min-width: 480px) and (max-width: 767px)  {
    .home{
        height: 100% !important;
    }
    .hero{
        padding: 4rem 0;
    }
    .btn-fushia{
        width: 100%;
    }
    .section {
        padding: 30px 0 !important;
    }
    .section-feature [class*=col-md-3] {
        border: unset !important;
        padding-bottom: 1rem !important;
        padding-top: 0rem !important;
    }
    .section-ourteam {
        padding-bottom: 0rem !important;
    }
    .section-support-card {
        padding: 9px !important;
    }
    .section-support{
        padding: 0 !important;
        padding-bottom: 10px !important;

    }
    .heading-primary{
        margin-bottom: 9px;
    }
    .btn-full{
        margin-right: 0;
    }
    .owl-theme .owl-nav{
        width: unset;
        position: unset;

    }
    .section-si-big {
        width: 4rem !important;
        height: 4rem !important;
        font-size: 1.3rem !important;
        line-height: 4rem !important;

    }
 
    .section-si-big{
        line-height: 4rem !important;
    }
    .section-about{
        padding-bottom: 1rem;

    }
    #hero-section.owl-carousel .owl-dots {
      
        bottom: -2rem !important;

    }
}

//smartphone landscape
@media screen and (max-width: 480px) {
    .footer-deepdark a {
        margin: 5px !important;
    }
    #hero-section.owl-carousel .owl-dots {
      
        bottom: -2rem !important;

    }
    .home{
        height: 100% !important;
    }
    .hero{
        padding: 4rem 0;
    }
    .section-ourteam {
         padding-bottom: 0!important; 
    }
    .btn-fushia{
        width: 100%;

    }
    .footer-dark{
        padding: 1rem !important;

    }
    .btn-full{
        margin-right: 0;
    }
    .heading-primary{
        margin-bottom: 9px;
    }
    .owl-theme .owl-nav{
        width: unset;
        position: unset;

    }
    .section-support{
        padding: 0 !important;
        padding-bottom: 10px !important;

    }
    .section-support-card {
        padding: 9px !important;
    }
    .section-si-big {
        width: 4rem !important;
        height: 4rem !important;
        font-size: 1.3rem !important;
        line-height: 4rem !important;

    }
    .section-feature [class*=col-md-3] {
        border: unset !important;
        padding-bottom: 1rem !important;
        padding-top: 0rem !important;
    }
    .section-si-big{
        line-height: 4rem !important;
    }
    .section-feature {
        padding-bottom: 20px !important;
    }
    .section {
        padding: 20px 0 !important;
    }
    .section-about{
        padding-bottom: 1rem;

    }
}//end media query


@media screen and (max-width: 332px) {
    .main-nav {
        margin-top: 0 !important; 
      
        position: unset; 
    }}